* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  background: none;
  cursor: pointer;
  appearance: none;
}

a {
  text-decoration: none;
}

.page:before,
.page:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.page:before {
  bottom: 50px;
  background: #1c3f42 url(img/background-back.webp) repeat no-repeat left bottom;
  animation: backgroundBack 14s linear infinite;
}

.page:after {
  bottom: 140px;
  background: url(img/background-middle.webp) repeat no-repeat left bottom;
  filter: contrast(140%);
  animation: backgroundMiddle 14s linear infinite;
}

/* RUN GAME */

.page_rungame .menu {
  opacity: 0;
  pointer-events: none;
}

.page_rungame .menu__inner {
  transform: scale(5);
}

/* NOT RUN GAME */

.page:not(.page_rungame):before,
.page:not(.page_rungame):after,
.page:not(.page_rungame) .gameboard * {
  animation-play-state: paused !important;
}

/* ROAD */

.road {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 155px;
  background: url(img/background-road.webp) repeat no-repeat left bottom;
  animation: backgroundRoad 1.2s linear infinite;
  z-index: 1;
}

/* OBSTACLES */

.obstacles {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 270px;
  overflow: hidden;
  z-index: 2;
}

.obstacle {
  position: absolute;
  width: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  right: -100px;
  bottom: 135px;
  animation: obstacle linear 4s;
  pointer-events: none;
}

.obstacle_bomb img {
  width: 40px;
}

.obstacle_fire img {
  width: 45px;
}

.obstacle_plasm img {
  width: 70px;
}

.obstacle_robot {
  height: 70px;
}

.obstacle_active img {
  width: 150px;
  transition: width .2s;
}

/* HERO */

.hero {
  position: absolute;
  left: 20px;
  bottom: 135px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 45px;
  height: 75px;
  pointer-events: none;
  z-index: 3;
}

.hero_jump {
  animation: heroJump .9s;
}

.hero img {
  margin-bottom: -7px;
}

/* MENU */

.menu {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.60);
  transition: all 1s;
  overflow: auto;
  z-index: 5;
}

.menu_disable {
  overflow: hidden;
}

.menu__title {
  position: relative;
  top: 0;
  padding: 0 30px 10px;
  margin: 80px 0 60px;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  letter-spacing: 5px;
  color: #fff;
  transform: rotate(-7deg);
}

.menu__inner {
  transition: transform .6s;
}

.menu__title:before {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 3px;
  background: #fff;
  animation: title 1s .5s;
  animation-fill-mode: forwards;
}

.menu__list {
  list-style: none;
  text-align: center;
}

.menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu__item_type_fullscreen {
  margin-top: 20px;
}

.menu__item_type_fullscreen .menu__button {
  font-size: 20px;
}

.menu__button {
  font-family: monospace;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #65acde;
  text-shadow: 0 0 5px #39adff;
}

.menu__button:focus,
.menu__button:hover {
  text-shadow: 0 0 17px #39adff;
}

.menu__button:after {
  content: attr(data-text-off);
}

.menu__button_fullscreen:after {
  content: attr(data-text-on);
}

/* COINS */

.coins {
  position: absolute;
  left: 15px;
  top: 15px;
  display: flex;
  font-family: monospace;
  color: #ffde50;
  z-index: 4;
}

.coins:before,
.coins:after {
  content: '';
  width: 46px;
  height: 46px;
  margin-right: 10px;
}

.coins:before {
  background: url(img/coin.svg) no-repeat center/46px;
  backface-visibility: hidden;
  z-index: 4;
}

.coins:after {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: url(img/easteregg.jpg) no-repeat center/50px;
  backface-visibility: hidden;
  z-index: 3;
}

.coins:active:before {
  animation: coinsFlipOne 4s linear infinite;
}

.coins:active:after {
  animation: coinsFlipTwo 4s linear infinite;
}

.coins__current {
  font-size: 40px;
  line-height: 30px;
}

.coins__bank,
.coins__all {
  margin-top: 3px;
}

.controls {
  display: none;
}

@keyframes backgroundBack {
  100% { left: -480px; }
}

@keyframes backgroundMiddle {
  100% { left: -1024px; }
}

@keyframes backgroundRoad {
  100% { left: -388px; }
}

@keyframes heroJump {
  50% { bottom: 200px; }
  100% { bottom: 135px; }
}

@keyframes obstacle {
  100% { right: 100%; }
}

@keyframes coinsFlipOne {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

@keyframes coinsFlipTwo {
  from { transform: rotateY(-180deg); }
  to { transform: rotateY(180deg); }
}

@keyframes title {
  to { right: 0; }
}

@media screen and (max-width: 1024px) {
  .controls {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    display: flex;
    height: 100px;
    z-index: 3;
  }
  .controls__button {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
    border-radius: 5px;
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-position: center;
  }
  .controls__button_type_jump {
    margin-bottom: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 292.362 292.361' fill='%2339adff'%3E%3Cpath d='M286.935,197.287L159.028,69.381c-3.613-3.617-7.895-5.424-12.847-5.424s-9.233,1.807-12.85,5.424L5.424,197.287 C1.807,200.904,0,205.186,0,210.134s1.807,9.233,5.424,12.847c3.621,3.617,7.902,5.425,12.85,5.425h255.813 c4.949,0,9.233-1.808,12.848-5.425c3.613-3.613,5.427-7.898,5.427-12.847S290.548,200.904,286.935,197.287z'/%3E%3C/svg%3E%0A");
    background-size: 20px;
  }
  .controls__button_type_jump:active {
    background-color: #000;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .menu__title {
    margin: 20px 0 30px;
    font-size: 50px;
  }
  .menu__button {
    font-size: 22px;
  }
}

@media screen and (max-width: 360px) {
  .menu__title {
    margin: 40px 0 50px;
    font-size: 50px;
  }
  .menu__button {
    font-size: 32px;
  }
}
